@media (max-width: 576px) {
    body {
        background-color: lightblue;
    }
}

.col-sm-4 {
    border: 2px solid black;
    background-color: aquamarine;
}

.col-sm-3 {
    border: 2px solid black;
    background-color: brown;
}

.col-sm-6 {
    border: 2px solid black;
    background-color: greenyellow;
}