@media (max-width: 576px) {
    body {
        background-color: lightblue;
    }
}

.col {
    border: 1px solid black;
    background-color: aquamarine;
}

.col-8 {
    border: 1px solid black;
    background-color: brown;
}

.col-4 {
    border: 1px solid black;
    background-color: brown;
}